/* Defining the specific variables for regular/dark-mode*/ 
:root {
    --main-background-color: #1A1A1A;
    --font-color:#FFFFFF;
    --button-color:rgba(255, 255, 255, .15); 
}

[data-theme="light"] {

    --main-background-color: #E7E7E7;
    --font-color:#1A1A1A;
    --button-color:#E7E7E7;
}

@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}

body
{
    /*background: #FEAC5E;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(-45deg, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(-45deg, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-attachment:fixed;*/
    background-color: var(--main-background-color);
    font-family:Roboto;
    font-weight:300;
    color:var(--font-color);
    
    
}

.page
{
    overflow: hidden;
    background-image: url('/images/anim/anim1.png');
    animation:img-anim 6s ease infinite;
    background-repeat:no-repeat;
    background-size:100%;
    background-position-y: 45%;
    background-attachment:fixed;
    
}


.navbar
{
    float:right; 
}

.navbar > ul
{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.navbar > ul > li
{
    display:inline-block;
}

.navbar a 
{
    opacity:70%;
    font-weight:bold;
    display:block;
    text-align:center;
    padding: 14px 16px;
}

.navbar a:hover
{
    opacity:100%;
    text-decoration:none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content:'☀️';
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 6px;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
  }

  
  input:checked + .slider {
    background-color: #4BC0C8;
    
  }
  
  input:checked + .slider:before
  {
    content:'🌙';
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #4BC0C8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
  
.container
{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    height:90vh;
    width:70vw;
}
.main
{
   text-align:center;
   margin-left:10%;
   position:relative;
}

.main-element
{
    display:inline-block;
    
}
#main-heading
{
    font-size:100px;
    font-family:Urbanist;
    opacity:85%;
}

a
{
    color:var(--font-color);
    font-weight:700;
    opacity:85%;
}

a:hover
{
    font-weight:700;
    color:#4BC0C8;
    text-decoration:none;
}
#main-avi
{
    
    cursor:pointer;
    opacity:85%;
    position:absolute;
}
.animated-intro
{
    text-align:left;
    text-justify:center;
    display:inline-block;
    margin-bottom:50px;
    margin-left:10.5%;

}

.animated-intro span
{
    opacity:85%;
    font-size:25px;
    font-weight:200;   
}

.first
{
    display:inline-block;
    animation: fadeIn 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index:3;
}


.slide 
{
    display:inline-flex;
    overflow:hidden;
}

.second 
{
    display:inline-block;
    animation:fadeIn 3.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index:2;
}

.third
{
    display:inline-block;
    animation:fadeIn 5.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index:1;
}

.fourth
{
    display:inline-block;
    animation:fadeIn 7.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index:-1;
}


.social-links
{
    display:flex;
    justify-content:space-around;
    margin-bottom:10px;
    margin-left:10.5%;
}

.social-button
{
    position:relative;
    width:30px;
    height:30px;
    background-color: var(--button-color);  
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border:none;
    margin-right:10px;
}

.social-button:hover
{
    background-color: rgba(255, 255, 255, 0.462); 
}

.fa-brands, .fa-solid
{ 
   position:absolute;
   left:25%;
   top:25%;

}
@keyframes fadeIn
{
    0%{
        opacity:0;
        transition-timing-function: scale(1);
    }

    50%{
        opacity:1;
        transition-timing-function: scale(1);
    }

    100%{
        opacity:1;
        transition-timing-function: scale(1);
    }
}

@keyframes img-anim
{
    0%{
        
        background-image:url('/images/anim/anim1.png');
    }

    16.67%{
    
        background-image:url('/images/anim/anim2.png');
    }

    33.33%{

        background-image:url('/images/anim/anim3.png');
    }

    50%{
        background-image:url('/images/anim/anim4.png');
    }

    66.67%{
        background-image:url('/images/anim/anim3.png');
    }

    100%
    {
        background-image:url('/images/anim/anim2.png');

    }
    
}

